// @import './reset.scss';

.index{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    #content{
      flex: 1;
      overflow-y: scroll;
    }
    #nav {
 
        width: 100%;
        height: .4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
      
        a {
          display: block;
          color: #333;
      
          &.router-link-exact-active {
            color: red;
          }
        }
       
      }
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
  }
  .search{
    width: 100%;
    height: .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconfont{
      margin-right: .1rem;
    }
  }
  .my-swipe .van-swipe-item {
    color: #fff;
    font-size: 20px;
    // line-height: 150px;
    width: 100%;
    height: 1.7rem;
    text-align: center;
    background-color: #39a9ed;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .t_content{
    flex: 1;
    overflow-y: scroll;
  }
}
// 登录页
.login{
  width: 100%;
  height: 100%;
  h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
  }
  .van-tabs__line{
    width: 1.8rem;
  }
}
//每一项
.item{
  width: 100%;
  height: 1.2rem;
  display: flex;
  margin: .2rem 0;
  dt{
    width: 40%;
    height: 100%;
    margin-left: .1rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
  dd:nth-of-type(1){
    width: 40%;
    height: 100%;
    display: flex;
    margin-left: .2rem;
    flex-direction: column;
    justify-content: space-around;
    h3{
      text-align: left;
    }

  }
  .van-icon-cart-circle-o{
    font-size: .25rem;
    color: red;
    text-align: center;
    line-height:2rem;
  
  }

}
// 详情页
.detail{
  width: 100%;
  height: 100%;
  .my-swipe{
    width: 100%;
    height: 1.6rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .d_price{
    width: 100%;
    height: .5rem;
    background: orangered;
    color: #fff;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    
    p{
      padding-left: .1rem;
    }
    p:nth-child(1){
      font-size: .18rem;
    }
  }
  .d_tit{
    width: 100%;
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // padding: 0 .2rem;
    border-bottom: 0.01rem solid #ccc;
  .van-cell{
    width: 1rem;
    color: orangered;
   
  }
  }
  .d_comment{
    dl{
      border: 0.01rem solid #ccc;
      margin: .1rem;
    }
  }
}
//分类组件
.classify{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
  }
  .c_con{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;

    .c_right{
      flex: 1;
      
      .c_content{
        flex: 1;
        overflow-y: scroll;
      }
    }
  }
}

.my{
  width: 100%;
  height: 100%;
  background: #eee;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    background: #fff;
  }
  .m_top{
    width: 100%;
    height: 1.2rem;
    background: orangered;
    color: #fff;
    font-size: .20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    dd{
      margin-left: .2rem;
    }
    dt{
      margin-right: .2rem;
    }
  }
  .m_center{
    width: 90%;
    height: 1.3rem;
    background: #fff;
    border-radius: .1rem;
    margin: -.2rem auto;
    box-shadow: 0 0.02rem #ccc;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    h3{
      width: 100%;
      height: .3rem;
      span{
        color: #ccc;
        float: right;
        font-size: .12rem;
        font-weight: normal;
      }
    }
    .m_content{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: .13rem;
      dt{
        text-align: center;
      }
      .van-icon{
        color: orangered;
        font-size: .24rem;
        
      }
    }
  }
  .m_bottom{
    width: 90%;
    height: 1.4rem;
    background: #fff;
    border-radius: .1rem;
    margin: .4rem auto;
   
  }
}
.shop{
  width: 100%;
  height: 100%;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
  }
}
// 定位页面
.pos{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    background: #fff;
    span{
      float: left;
      margin-left: .1rem;
    }
  }
  #pos_map{
    height: 200px;
    display: none;
  }
  #p_content{
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   right: 0;
   top: 0.8rem;
   bottom: 0;
   overflow-y: scroll;
   li{
     background: #eee;
     border-bottom: 0.01rem solid rgb(187, 182, 182);
     padding: .1rem;
     p:nth-child(1){
      font-size: .14rem;
      margin: .1rem 0;
     }
     p:nth-child(2){
      color: #333;
      font-size: .12rem;
    }
   }
  }
  .pos_act{
    width: 100%;
    height: .4rem;
    background: #fff;
    line-height: .4rem;
    margin: .1rem 0;
    padding-left:.2rem ;
  }
  .pos_address{
    flex: 1;
    overflow-y: scroll;
    margin: .1rem 0;
  }
  .addressItem{
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-around;
    .d_con{
      width: 70%;
      color: #444;
      p{
        margin: .1rem 0;
      }
    }
    .van-icon-records{
      font-size: .2rem;
      float: right;
    }
  }
  .pos_add{
    width: 100%;
    height: .4rem;
    margin-left: .2rem 0;
    background: #fff;
    line-height: .4rem;
    text-align: center;
    color: firebrick;
  }
}
//编辑或添加地址
.editAdd{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    background: #fff;
    span{
      float: left;
      margin-left: .1rem;
    }
  }
}
// 二级下拉
.secondList{
  width: .8rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  // border: 0.01rem solid #ccc;
  background: #fff;
  position: absolute;
  right: 0;
  top: 1.2rem;
  background: #fff;
  border-radius: .1rem;
  z-index: 999;
  font-size: .14rem;
  text-align: center;
  color:#000;

  li{
    flex: 1;
    line-height: .5rem;
    border-bottom: 0.01rem solid #FFF;
  }
  li:nth-child(2){
    background: red;
    color:#fff;
  }
}
.registry{
  width: 100%;
  height: 100%;
  .r_header{
    width: 100%;
    height: .6rem;
    padding: .1rem;

    p{
      color:#444;
    }
  }
}
.van-popup--center{

  border-radius: 10px;
  font-size: .14rem;
  padding-left: .1rem;
}
#loading{
  width: .1rem;
  height: .1rem;
  z-index: 99999;
}
.pop_content{
  width: 100%;
  overflow-y: scroll;
  li{
    background: #eee;
    border-bottom: 0.01rem solid rgb(187, 182, 182);
    padding: .1rem;
    p:nth-child(1){
     font-size: .14rem;
     margin: .1rem 0;
    }
    p:nth-child(2){
     color: #333;
     font-size: .12rem;
   }
}
}
// 搜索页面
.searchPage{
  width: 100%;
  height: 100%;
  >h3{
    width: 100%;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    background: #fff;
    span{
      float: left;
      margin-left: .1rem;
    }
  }
  .s_con{
    width: 100%;
    height: 1rem;
    .s_header{
      width: 100%;
      height: .3rem;
      padding: 0 .1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
     
      span:nth-child(1){
        font-weight: 800;
        font-size: .16rem;
      }
      span:nth-child(2){
        color:#ccc;
      }
    }
    ul{
      width: 100%;
      min-height: .7rem;
      display: flex;
      flex-wrap: wrap;
      li{
        margin: .1rem;
        color: #999;
        min-width: .3rem;
        height: .2rem;
        background: #eee;
        text-align: center;
        padding:0.04rem;
        line-height: .14rem;
      }
    }
    
  }
}

// 订单列表
.list{
  width: 100%;
  height: 100%;
  background: #eee;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
.l_address{
  width: 95%;
  height: 1rem;
  display: flex;
  align-items: center;
  margin: .1rem auto;
  background: #fff;
  border-radius: 10px;
  justify-content: space-around;
  div{
    p:nth-child(1){
      span{
        color:#ccc;
        margin-left: .1rem;
      }
    }
    p:nth-child(3){
      color:orangered;
    }
  }
  .van-icon-location{
    font-size: .2rem;
    color: orangered;
  }
  .van-icon-arrow{
    font-size: #444;
  }
  
}
.l_list{
  width: 100%;
  height: 61%;
  overflow-y: scroll;
  border-radius: 10px;
  .l_item{
    background: #fff;
    margin: .1rem auto;
    padding: .1rem;
    width: 95%;
    
    p{
      margin: .2rem;
    }
  }
}

}
.van-submit-bar{
  bottom: 42px!important;
}
// 订单列表
.allist{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  #all_nav{
    width: 100%;
    height: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .router-link-active{
      color:orangered;
    }
  }
  #all_content{
    flex: 1;
    overflow-y: scroll;
  }
}